<head>
    <title>Commander Blop</title>
    <link href='http://fonts.googleapis.com/css?family=Play&v2&text=commander%20blop' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mako&v2' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/screen.css" />

</head>
