<div id="header-dec">
    <div id="header">
        <div id="title"><a href="/" id="home">commander blop</a></div>
        <div id="subtitle">Being the blog of a young man whose principal interests are <a href="/tag/free%20culture">free culture</a>, <a href="/tag/music">music</a>, <a href="/tag/AI">AI</a>, <a href="/tag/webapps">web apps</a> and <a href="/tag/japan">Japan</a>.</div>
    </div>
</div>
    <div id="content">
</div>
